services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: albion-app
    container_name: albion-app
    restart: unless-stopped
    working_dir: /var/www
    ports:
      - "8080:8080"
    volumes:
      - .:/var/www
    networks:
      - albion-project

  nginx:
    image: nginx:alpine
    container_name: albion-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - albion-project

  db:
    image: mysql:8.0
    container_name: albion-db
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - albion-project

networks:
  albion-project:
    driver: bridge

volumes:
  dbdata:
    driver: local
